/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #6dc1e6;
    font-family: Arial, sans-serif;
}

/* Center the content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style for the certificate list */
.certificate-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.certificate-list img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.certificate-list img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 4px solid #12f7ff;
    background-color: #12f7ff;
}

/* Style for the heading */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Add a responsive breakpoint for smaller screens */
@media screen and (max-width: 768px) {
    .certificate-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


/* Style for the "Back" link */
.back-link {
    position: absolute;
    top: 20px;
    left: 30px;
}

.back-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c09db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-link a:hover {
    background-color: #0dbae6;
}
